.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.content .con {
  display: flex;
  width: 80%;
  /* height:100%; */
}
.content .con .con_left {
  width: 66%;
}
.con_left .samestyle {
  padding: 19px;
  background-color: #f5f5f5;
  min-height: 20px;
}
.con_left .everyday {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 30px 0px 20px 0px;
  box-shadow: 1px 1px 10px #5f5f5f;
}
.everyday > span {
  font-family: "icon-everyday";
  font-size: 12px;
  margin-bottom: 3px;
  animation: everyday 3s linear infinite;
  color: springgreen;
}
.everyday > p {
  margin: 0 0 10px 0;
}
.everyday > p:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
@keyframes everyday {
  0% {
    color: springgreen;
  }
  50% {
    color: rebeccapurple;
  }
  80% {
    color: salmon;
  }
  100% {
    color: springgreen;
  }
}
.everyday > span::after {
  margin-left: 5px;
  content: "\e122";
}
.con_left .blog_list {
  margin: 0px 0px 20px 0px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #bfbfbf #8e8e8e #5f5f5f #bfbfbf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.blog_list .fotter {
  color: #eee;
  border-top: #bfbfbf;
  background-color: #1f1f1f;
  padding: 5px 15px;
}
.blog_list .fotter a {
  padding: 0;
  padding-left: 6px;
}

.content .con .con_right {
  width: 33%;
  margin-left: 20px;
}
.con_right .left_public {
  border-color: #191818;
  margin-bottom: 20px;
  background-color: #1f1f1f;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.left_public > h3 {
  background-color: #191818;
  border-color: #191818;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  animation: right_title 4s infinite linear;
}
@keyframes right_title {
  0% {
    color: springgreen;
  }
  50% {
    color: rebeccapurple;
  }
  80% {
    color: salmon;
  }
  100% {
    color: springgreen;
  }
}
.con_right .tag {
  margin-top: 30px;
}
.tag div {
  padding: 15px;
}
.left_public ul {
  border-width: 1px 0;
  border-radius: 0;
}
.left_public li > a {
  color: #eee;
}
.left_public li {
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #1f1f1f;
  border: 1px solid #292929;
}
.left_public.comment li {
  padding: 0 15px;
}
.comment li h3 {
  display: flex;
  justify-content: space-between;
  color: #eee;
  margin-bottom: 10px;
}
.comment li p {
  color: #777;
}
.link li {
  color: #eee;
  display: flex;
  justify-content: space-around;
}
.link li span {
  flex-grow: 1;
}
