.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.content .con {
  display: flex;
  width: 80%;
  /* height:100%; */
}
.content .con .con_left {
  width: 66%;
  height: 100%;
  border: 1px solid blue;
}
.con_left .samestyle {
  padding: 19px;
  background-color: #f5f5f5;
  min-height: 20px;
}
.con_left .everyday {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 30px 0px 20px 0px;
  box-shadow: 1px 1px 10px #5f5f5f;
}
.everyday > span {
  font-family: "icon-everyday";
  font-size: 12px;
  margin-bottom: 3px;
  animation: everyday 3s linear infinite;
  color: springgreen;
}
.everyday > p {
  margin: 0 0 10px 0;
}
.everyday > p:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
@keyframes everyday {
  0% {
    color: springgreen;
  }
  50% {
    color: rebeccapurple;
  }
  80% {
    color: salmon;
  }
  100% {
    color: springgreen;
  }
}
.everyday > span::after {
  margin-left: 5px;
  content: "\e122";
}
.con_left .blog_ist {
  margin: 0px 0px 20px 0px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #bfbfbf #8e8e8e #5f5f5f #bfbfbf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.blog_ist .fotter {
  color: #eee;
  border-top: #bfbfbf;
  background-color: #1f1f1f;
  padding: 5px 15px;
}

.content .con .con_right {
  width: 33%;
  height: 100%;
  border: 1px solid rebeccapurple;
}
.con .left_pubic {
  border-color: #191818;
  margin-bottom: 20px;
  background-color: #1f1f1f;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
