* {
  margin: 0px;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  outline-style: none;
  box-shadow: none;
  border-style: none;
  font-size: 14px;
  box-sizing: border-box;
  text-align: justify;
}
@font-face {
  font-family: "icon-everyday";
  src: url("../font/glyphicons-halflings-regular.woff");
}
html,
body {
  margin: 0;
  width: 100%;
  /* height:100%;  */
}
body {
  background-image: url("../img/bg.jpg");
}
h2 > a {
  color: #13102b;
  padding: 0;
  font-size: 20px;
}
h2 > a:hover {
  color: #23527c;
}
button {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
a {
  text-decoration: none;
  padding: 10px 14px;
  color: #eee;
}
p {
  margin: 0 0 10px 0;
  line-height: 20px;
}
h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
ul,
li {
  list-style: none;
}
