html,
body {
  font-family: Verdana;
  font-size: 12px;
  margin: 0;
  color: #000000;
  padding: 0;
  margin: 0;
}
h2 {
  text-align: center;
}
li {
  margin-top: 8px;
}
a {
  color: #000;
}
strong,
.map_nav span:nth-of-type(2) {
  text-decoration: underline;
  cursor: pointer;
}
.map_public {
  padding: 8px;
  border: 1px solid #eeeeee;
  clear: both;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}
footer p {
  text-align: center;
}
footer p a {
  font-weight: bold;
}
