.pagination {
    display: flex;
    margin: 20px 0;
    border-radius: 4px;
    /* border: 1px solid blue; */
}

.pagination li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    padding: 10px;
    background-color: white;
}

.pagination li.prev,
.pagination li.next {
    width: 80px;
}

.pagination li.last {
    width: 60px;
}

.pagination li span {
    font-size: 16px;
}

.pagination li.active {
    color: white;
    background-color: black;
}